<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Landing Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
      function setCountry(){
        $("input[name=selectedCountry]").val($('#c_selector option:selected').text());
      }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .card-img-top{
            object-fit:scale-down;
            aspect-ratio: 2/2;
        }   
        .banner-dull{
          filter: brightness(40%) grayscale(20%) blur(2px);
        }
        .carousel-caption{
          backdrop-filter: blur(3px);
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" /> -->
</head>
<body class="container">
    <div class="row g-2 text-center">
      <a href="/dic" class="btn col-12 btn-primary m-3 mx-auto">Show Trending Movies</a>
      <p class="m-3 col-12 text-danger">{{err}}</p>
    </div>
    {% if (trending) %}
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-25 mx-auto"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        {% for tMovie in trending %}
          {% if loop.index == 1 %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
          <img
            src="http://image.tmdb.org/t/p/w500/{{ tMovie.poster_path }}"
            class="img-fluid d-block w-100 mx-auto rounded-5 banner"
            id="banner"
            alt="A portrait"
          />
          <div class="carousel-caption text-light p-3" id="info">
            <h5 class="fs-2 fw-bold">{{ tMovie.title }}</h5>
            <div class="d-flex flex-wrap align-items-center gap-2 mb-2 justify-content-center">
            {% for gid in tMovie.genre_ids %}
              <p class="my-0">{{ genres[gid] }}</p>
            {% endfor %}
            </div>
            <p class="lead text-truncate" style="max-width:max-content;">
              {{ tMovie.overview }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- <div class="mt-5 btn btn-primary" id="xyz">Toggle Description</div> -->
    {% endif %}

    <form class="container my-3" method="post" action="/recommend">
    <div class="row g-3">
        <div class="col-md-8 col-sm-6 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Write about something you like</label>
            <textarea class="form-control" name="sentence" id="exampleFormControlTextarea1" required minlength="10" rows="3" placeholder="Start typing...">{% if(input) %}{{ input }}{% endif %}</textarea>
        </div>
        <div class="col-md-4 col-sm-6">
          <input class="d-none" name="selectedCountry" value="India" />
          <label for="country" class="form-label">Country of origin</label>
          <select id="c_selector" id="country" onchange="setCountry()" class="form-select my-auto" name="country" required>
            <option value="default" selected>--SELECT--</option>
            {% for cDic in c_list %}
              <option value="{{cDic.iso_3166_1}}"  
              {% if cDic.english_name == "India" %}
                selected
              {% endif %}
              >{{ cDic.english_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-8">
            <input type="submit" class="btn btn-success" />
        </div>
    </div>
    </form>
    
    <!-- Output of search query -->
    {% if (out) %}
    <div class="childViewBody container album rounded-4 p-5 bg-body-tertiary my-3">
      <div class="row text-center">
        <div class="col-md-6 mb-4">
          <h4>Extracted Keywords:</h4>
          <div class="d-flex justify-content-center flex-wrap gap-3">
        {% for k in nouns %}
          <span>{{ k }}</span>
        {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <h4>Nearest Movie Keywords:</h4>
          <div class="d-flex justify-content-center flex-wrap gap-3">
        {% for k in finalK %}
          <span>{{ k }}</span>
        {% endfor %}
          </div>
        </div>
        <div class="col-md-12 my-0 text-center">
          <h5>Country of Origin:</h5>
          <span>{{c_name}}</span>
        </div>
      </div>
        <div id="childAlbum" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 gy-5 mt-2">
    {% for mDic in out %}        
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="http://image.tmdb.org/t/p/w500/{{ mDic.poster_path }}" class="card-img-top" alt="A portrait" />
            <div class="card-body pb-0">
                <h5 class="card-title">{{ mDic.title }}</h5>
                <p class="card-text text-truncate">{{ mDic.overview }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
        </div>
    </div>
    {% endif %}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <script>
        $('.carousel-caption').hide();
        $('.carousel-item').mouseenter(function () {
          //backdrop effect for image here
          $(this).find('.carousel-caption').show(300);
          $(this).find(".banner").addClass("banner-dull");
        });
        $('.carousel-item').mouseleave(function () {
            //remove backdrop here
            $(this).find('.carousel-caption').hide(300);
            $(this).find(".banner").removeClass("banner-dull");
        });
      </script>
</body>
</html>